@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,300&family=Signika+Negative:wght@600&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,300&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,300&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
	margin: 0;
	padding: 0;
	
}

.burger{
	display: none;
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 15px;
}

.line{
	width: 33px;
	background-color: white;
	padding: 2px;
	height: 6px;
	margin-top: 5px 3px;
}

@media only screen and (max-width:500px){
	.nav-list{
		flex-direction: column;
	}

	.nav-list li{
		font-size: 42px;
	}
	.firstsection{
		width: 340%;
		height: 152vh;
	}
	.navbar{
		flex-direction: column;
		width: 340%;
		transition: all 0.7s ease-out;
		height: 700px;
		
	}
	.rightnav{
		text-align: center;
	}
	#search{
		font-size: 14px;
		width: 55%;
	}
	.burger{
		display: block;
	}
	.h-nav-resp{
		height: 72px;
	}
	.v-class-resp{
		opacity: 0;
	}
	.
	.para{
		justify-content: unset;
		display: none;
	}
	.text-nme{
		width: 100%;
	}
	.para{
		font-size: 66px;
	}
	.text-nme{
	border: 0px solid black;
    font-size: 35px;
    /* justify-content: center; */
    display: flex;
    direction: center;
    align-items: center;
    /* width: 900px; */
    height: 173px;
    margin-top: 193px;
    /* margin-bottom: 50px; */
    font-family: 'Signika Negative', sans-serif;
    margin-left: -5px;
	}
	.thumbnail img{
	height: 140px;
    width: 139px;
	}

	.ser{
	margin-left: 172px;
	}

	.secondhalf img{
	height: 160px;
    width: 160px;
    margin-top: 20px;
    margin-left: 40px;
	}

	.bgimg{
		    width: 1028px;
	}

	body{
		width: 100%;
	}

	.sectiontag{
		font-size: 105px;
	}

	.table{
		padding-left: 185px;
	}

	.bgimg{
		max-width: auto;
	}

	#whyus2{
		margin-left: 164px;
	}

	.line{
		width: 30px;
		height: 10px;
	}

	.text-big{
		margin-top: 150px;
	}

	.btn{
		font-size: 28px;
	}
	.table div a{
		font-size: 40px;
	}
	.table div strong{
		font-size: 36px;
	}

}

@media only screen and (min-width:501px) and (max-width:800px){
		.nav-list{
		flex-direction: column;
	}

	.nav-list li{
		font-size: 42px;
	}

	.firstsection{
		width: 226%;
    height: 155vh;
	}

	.secondhalf{
		margin-left: 40px;
	}

	.secondhalf img{
		height: 300px;
    	width: 300px;
	}

	.navbar{
		flex-direction: column;
		width: 226%;
		transition: all 0.7s ease-out;
		height: 700px;
		
	}
	.rightnav{
		text-align: center;
	}
	#search{
		font-size: 14px;
		width: 56%;
		height: 43px;
	}
	.burger{
		display: block;
	}
	.h-nav-resp{
		height: 90px;
	}
	.v-class-resp{
		opacity: 0;
	}
	.
	.para{
		justify-content: unset;
		display: none;
	}
	.text-nme{
		width: 100%;
	}
	.para{
		font-size:50px;
	}
	.text-nme{
	border: 0px solid black;
    font-size: 35px;
    /* justify-content: center; */
    display: flex;
    direction: center;
    align-items: center;
    /* width: 900px; */
    height: 173px;
    margin-top: 193px;
    /* margin-bottom: 50px; */
    font-family: 'Signika Negative', sans-serif;
    margin-left: -5px;
	}
	.thumbnail img{
	height: 140px;
    width: 139px;
	}

	.text-big {
    font-size: 58px;
    font-family: 'Dancing Script', cursive;
    margin-top: 195px;
	}
	
	.sectiontag{
		font-size: 75px;
	}

	.section {
    display: flex;
    align-items: center;
    /* max-width: 80%; */
    margin: auto;
    margin-top: ;
    font-family: 'Roboto', sans-serif;
    width: 140%;
}

.bgimg{
	width: 1158px;
}

.ser{
	margin-left: -26px;
}

.table{
	    margin-left: 146px;
}

#whyus2{
		margin-left: 80px;
	}

	.line{
		width: 46px;
		height: 12px;
	}

	.btn{
		font-size: 32px;
	}

	.table div a{
		font-size: 42px;
	}
	.table div strong{
		font-size: 36px;
	}

}

@media only screen and (min-width:650px) and (max-width:800px){
	.text-big {
    font-size: 93px;
    font-family: 'Dancing Script', cursive;
	}
}

body{
    
}

.cover{
	width: 800px;
}

.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img{
	
	border: 3px solid black;
	border-radius: 50px;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	cursor: pointer;


}

.nav-list{
	width: 70%;
	
	display: flex;
	align-items: center;
}

.nav-list li{
list-style: none;
padding: 26px 30px;
}

.nav-list li a{
text-decoration: none;
color: white;
}

.nav-list li a:hover{
background-color: dodgerblue;
	color:violet;
}

.rightnav{
	
	text-align: right;
	width: 30%;
	float: right;
	padding: 0 23px;
}

#search{
	padding: 5px;
	font-size: 17px;
	border: 2px solid black;
	border-radius: 10px;
}

.background{
	background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3_igmOjdqNzvgv6M6lh25CRYIw8xzrw2igA&usqp=CAU);
		
	background-size: cover;
	background-position: center;
	
	background-blend-mode: darken;
}

.box-main{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: sans-serif;
	max-width: 50%;
	margin: auto;
	height: 80%;

}

.firstsection{

}

.firsthalf{
	width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.secondhalf{
	width: 30%;
	
	display: block;
	margin: auto;
	margin-top: 150px;
	margin-left: 20px;
	
}

.secondhalf img{
border-radius: 170px;	
}

.text-big{
	font-size: 70px;
	font-family: 'Dancing Script', cursive;
}

.text-small{
	font-size: 18px;
}

.btn{
	padding: 8px 20px;
	margin: 7px 3px;
	border: 2px solid cyan;
	border-radius: 8px;
	
	color:white;
	background: none;
	cursor: pointer;
}

.btn-sm{
	padding: 6px 10px;
	vertical-align: middle;
}

.section{
	
	display: flex;
	align-items: center;
	max-width: 80%;
	margin: auto;
	margin-top: ;
	font-family: 'Roboto', sans-serif;

}

.para{
	margin: auto;
	margin-top: 30px;
	padding: 0px 25px;
	border: 0px solid black;
}

.thumbnail{
	margin: auto;
	margin-top: 80px;
}

.imgfluid{
	margin-top: 500px;
}

.imgfluid1{
	margin-top: 460px;
}

.thumbnail img{
	border: 3px solid black;
	border-radius: 25px;
}

.imgfluid2{
	margin-top: 100px;
}

.text-nme{
	border: 0px solid black;
    font-size: 60px;
     justify-content: center; 
    display: flex;
    direction: center;
    align-items: center;
     width: 900px;
    height: 173px;
    margin-top: 193px;
    /* margin-bottom: 50px; */
    font-family: 'Signika Negative', sans-serif;
    margin-left: -5px;
}

.sectiontag{
	
	font-family: century gothic;
}

.sectionsubtag{
	font-family: century gothic;
	
}

.ser{
	    font-size: 80px;
    text-align: center;
    margin-top: 79px;
    font-family: 'Dancing Script', cursive;
    border: 0px solid black;
    margin-bottom: -20px;
}

.table{
	border: 0px solid black;

}


.table div {
	background-color: white;
	margin-top: 80px;
	margin-right: 20px;
	height: auto;
	width: 250px;
	display: inline-block;
	margin-left: 40px;
	text-align: center;	
}
.table div img {
    width: 200px;
    height: 200px;
    border-color: rgb(51, 51, 51);
    border-style: none;
    border-width: 0px;
    border-radius: 15px 15px 15px 15px;
    border:2px solid black ;
    
}
.para div{
	border: 0px solid black;
	display: inline-block;
	float: right;
	margin-top: 500px;
	text-align: center;
}
.para2 div{
	border: 0px solid black;
	display: inline-block;
	float: right;
	margin-top: 600px;
	text-align: center;
	margin-left: 50px;
	background-color: blue;
}
.table div a {
	text-decoration: none;
	color: #dodgerblue;
	padding: 5px 20px;
	border: 0px solid #000;
	transition: 0.6s ease;background-color: violet;
}
.table div a:hover{
	background-color: dodgerblue;
	color:violet;
}
#whyus{
	    border: 0px solid black;
    text-align: center;
    font-size: 35px;
    margin-top: 130px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: -35px;
}

#whyus2 div{
	border: 0px solid black;
	background-color: white;
	margin-top: 80px;
	margin-right: 20px;
	height: auto;
	width: 250px;
	display: inline-block;
	margin-left: 40px;
	text-align: center;	
}
#whyus2 div img {
	 width: 100px;
    height: 100px;
    border-color: rgb(51, 51, 51);
    border-style: none;
    border-width: 0px;
    border-radius: 15px 15px 15px 15px;
}

.table div strong{
	 font-size: 20px;
}